{% extends 'base.html.twig' %}

{% block title %}Hello HogeController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
<div class="header">
    <h2>My To Do List</h2>
    <form method="POST" action="{{ path('create_task') }}">
        <input type="text" id="myInput" placeholder="Task title..." name="title"/>
        <button type="submit" class="addBtn">Add a task</button>
    </form>
</div>
    {% for item in repo %}
    <ul>
        <li {% if item.completed %}style="color:red;"{% endif %}
        >
        <a href="{{path('switch',{'id':item.id})}}"><span>{{item.text}}</span></a>
        </li>
    </ul>
        
    {% endfor %}
</div>
{% endblock %}
